<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="<%= url("/style.css") %>">
</head>
<body>
  <h1><%= @player1.name %> vs. <%= @player2.name %></h1>
  <h3><%= @turn.name %>'s turn to attack!</h3>
  <p id="player_1">Player 1: <%= @player1.hitpoints %>HP</p>
  <p id="player_2">Player 2: <%= @player2.hitpoints %>HP</p>
  <form method="get" action="/attack">
    <input type="submit" value ="Attack!">
  </form>
</body>
</html>
